<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <h2>You reiceived a messaged</h2>


    <p>
      To see your message, just follow this link: <%= link_to "This",conversations_url(@conversation) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
