<ol class="breadcrumb">
  <li class="breadcrumb-item"><a><%= link_to "Home",sessions_path%></a></li>
  <li class="breadcrumb-item active">Messages</li>
</ol>

<% if @conversations.count ==0%>
<p>U dont have any conversations</p>
<p> Find a user to add friend</p>
<%= link_to "Users",users_path%>
<%else%>
<%= render @conversations %>
<% end %>
<% content_for :js do%>
<script type="text/javascript">
$(".card").hover(function() {
  $(this).addClass("conversation-highlight");
}, function(){
  $(this).removeClass("conversation-highlight");
});
</script>
<%end%>
