
<p>U havent send an</p>
<% @users.each do |user|%>
<% if current_user.id==user.id %>
<div class="card">
  <div class="card-body">
    <p><%=user.name%>(You)</p>
  </div>
</div>
<% else %>
<div class="card">
  <div class="card-body">
    <p><%=user.name%></p> <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
  </div>
</div>
<%end%>
<% end %>
