<% if current_user.messages.count ==0%>
<p>U havent send an</p>
<% current_user.messages.each do |message|%>
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%=message.user.name%></h4>
    <p class="card-text"><%=message.body%></p>
<%= link_to "Show",conversation_path(receiver_id: @user),class: 'btn btn-primary'%>
  </div>

</div>
<%end%>
