<h1>Users</h1>
<h2>FriendLists</h2>
<ul>
  <% for friendship in current_user.friendships %>
    <li>
      <%=h friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>
<h2>Messages</h2>
<ul><%= render @users %></ul>
