<ol class="breadcrumb">
  <li class="breadcrumb-item"><a><%= link_to "Home",sessions_path%></a></li>
  <li class="breadcrumb-item active"><%=current_user.name%></li>
</ol>
<h1>Users</h1>
<ul><%= render "users/user" %></ul>
