body {
  padding-top: 60px;
  background-image: url("418724.jpg");
}
.jumbotron {
  background-color: transparent;
  font-size: 30px;
  color: red;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
.lead
{
  text-align: center;
  font-size: 2em;
  font: 20px;
}
.nav-item
{
  margin-left: 10px;
  font-size: 1.2em;
  letter-spacing: -1px;
  color: gray;

}
.navbar a{
  color: brown ;
  font-size: 30px;
}
.navbar {
  background-color: transparent;
}
.navbar.brand
{
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-top: 10px;
}
.navbar .navbar-expand-lg .navbar-light .bg-light {
  color: gray;
  background-color: transparent;
}
.navbar .brand a{
  font-size: 50px;
  color: red;
}
#word {
  color: red;
}
#cool center{
  font-size: 30px;
}
.btn-primary h2{
    font-size: 30px;
}
.custom {
    font-size: 30px !important;
}
